#weatherListContainer {
  margin-top: 5%;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: 70vh;
}


/* for mobile */
@media only screen and (max-width: 768px) {
  #weatherListContainer {
    width: 90vw;
  }
}

/* for tablet */
@media only screen and (min-width: 600px) {
  #weatherListContainer {
    width: 90vw;
  }
}
