* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -90px;
  
}

@media only screen and (max-width: 550px) {


  body {
    background-size: 200%;
    background-position: 0 -0px;
  }
}