* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-Style);
}

body {
  background-color: var(--color-bg);
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -90px;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 200% !important;
    background-position: 0 -0px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-size: 100%;
    background-position: 0 -0px;
  }
}
