:root {
  --color-bg:#1f2128;
  --color-Footer-bg:#30333d;
  --color-card-bottom-bg:#383b47;
  --color-card-text:#ffffff;
  --color-addCityBtn:#6c5dd3;
  --body-bg-image:url("./assets/images/background.jpg");
  
}